:root {
  --gray00: #ffffff;
  --gray05: #f5f6f7;
  --gray10: #dfdfe2;
  --gray80: #2a2a40;
  --gray90: #0a0a23;
  --yellow: #f1be32;
  --dark-yellow: #4d3800;
  --blue: #99c9ff;
  --dark-blue: #002ead;
  --dark-blue-active: #264fc0;
}

body {
  color: var(--gray90);
  background-color: var(--gray10);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  padding: 2rem;
}

.editor-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor-header h2, .editor-header label {
  font-size: 1.2rem;
  font-weight: bold;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  padding: 10px;
}

.input-area textarea {
  font-family: 'MS ゴシック', monospace;
  font-size: 16px;
  padding: .5rem;
  height: 100%;
  min-height: 400px;
  border-radius: 3px;
  line-height: 1.5;
}

.output-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  padding: 10px;
}

#output-text {
  border: 1px solid var(--gray80);
  border-radius: 3px;
  height: 100%;
  min-height: 400px;
  background-color: var(--gray05);
  padding: .5rem;
  font-family: 'MS ゴシック', monospace;
  font-size: 16px;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.check-button {
  height: 50px;
  padding: 0 30px;
  background-color: var(--dark-blue);
  color: var(--gray00);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.check-button:hover {
  background-color: var(--dark-blue-active);
}

#output-notice {
  display: none;
}

#output-notice.visible {
  display: block;
  color: var(--dark-blue);
  background-color: var(--blue);
  border-radius: 5px;
  padding: 5px;
}

.highlight {
  background-color: var(--yellow);
}

.highlight:hover {
  outline: 1px solid var(--dark-yellow);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  width: auto;
  background-color: var(--gray80);
  color: var(--gray00);
  border-radius: 6px;
  padding: 10px;
  word-break: keep-all;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 150%;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  text-align: center;
}
